*,
*:before,
*:after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 32px;
  background: #222629; }

.wrapper {
  padding: 80px;
  min-height: 100vh; }

h1 {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: raleway; }

header {
  height: 80px;
  position: fixed;
  background: #222629;
  top: 0;
  left: 0;
  padding: 16px 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end; }

.menu {
  position: fixed;
  left: 54px;
  top: 50%;
  transform: translateY(50%);
  z-index: 20; }

.btn-burger {
  width: 56px;
  height: 31px;
  position: relative;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none; }
  .btn-burger-line {
    width: 56px;
    height: 5px;
    background: #87C232;
    display: block; }
  .btn-burger-line:before, .btn-burger-line:after {
    content: "";
    width: 56px;
    height: 5px;
    background: #87C232;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .btn-burger-line:after {
    top: 26px; }

.hero {
  background: #618930;
  height: calc(100vh - 160px);
  margin: 0 0 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .hero:before {
    content: "";
    width: 50%;
    height: calc(100vh - 160px);
    background: #f5f5f5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  .hero-text {
    position: relative;
    z-index: 10; }
  .hero .info {
    display: none;
    opacity: 0; }
  .hero .welcome {
    font-size: 80px;
    line-height: 96px;
    font-family: Barlow Condensed; }

.links {
  width: 80px;
  position: fixed;
  right: -28px;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nav {
  display: none; }

.menu-open .nav {
  display: block; }
