*,
*:before,
*:after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 32px;
  background: #222629; }

.wrapper {
  padding: 80px;
  min-height: 100vh; }

h1 {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: raleway; }

h2 {
  font-family: Barlow Condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
  color: #272822; }

h3 {
  font-family: Barlow Condensed;
  font-weight: bold;
  line-height: 38px; }

header {
  height: 80px;
  position: fixed;
  background: #222629;
  top: 0;
  left: 0;
  padding: 16px 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 30; }

.menu {
  z-index: 20;
  display: none;
  flex-direction: row-reverse;
  flex-grow: 1; }

.btn-burger {
  width: 56px;
  height: 31px;
  position: absolute;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 20;
  left: 54px;
  top: 50%; }
  .btn-burger-line {
    width: 56px;
    height: 5px;
    background: #87C232;
    display: block;
    transition: .25s ease-in-out; }
  .btn-burger-line:before, .btn-burger-line:after {
    content: "";
    width: 56px;
    height: 5px;
    background: #87C232;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: .25s ease-in-out; }
  .btn-burger-line:after {
    top: 26px; }

.hero {
  background: #618930;
  height: calc(100vh - 160px);
  padding: 80px;
  margin: 0 0 80px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .hero:before {
    content: "";
    width: 50%;
    height: calc(100vh - 160px);
    background: #f5f5f5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
  .hero-text {
    position: relative;
    z-index: 10; }
  .hero .info {
    width: 600px;
    height: 215px;
    display: none;
    opacity: 0; }
    .hero .info-span {
      display: block;
      color: #87C232;
      font-family: Roboto;
      font-style: italic;
      font-size: 18px;
      line-height: 21px; }
  .hero .welcome {
    font-size: 80px;
    line-height: 96px;
    font-family: Barlow Condensed; }
  .hero:hover {
    background: #f5f5f5;
    transition: 2s;
    overflow: hidden; }
    .hero:hover:before {
      opacity: 0;
      transform: rotate(180deg) translateX(100%);
      transition: opacity 2s, transform 2s; }
    .hero:hover .info {
      display: block;
      opacity: 1; }
    .hero:hover .welcome {
      display: none;
      opacity: 0; }

.links {
  width: 80px;
  position: fixed;
  right: -28px;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .links-icon {
    margin: 0 0 20px; }

.nav {
  display: none; }

/* parallax  */
.parallax {
  background-image: url(https://techrocks.ru/wp-content/uploads/2020/08/joshua-aragon-BMnhuwFYr7w-unsplash-1280x1000-1.jpg);
  width: 100%;
  height: 820px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 80px; }

/* skills */
.skills {
  width: 100%;
  min-height: 740px;
  background: #f5f5f5;
  padding: 80px;
  display: flex;
  flex-direction: column; }
  .skills-level-HTML, .skills-level-responsive, .skills-level-bootstrap, .skills-level-jQuery, .skills-level-CSS, .skills-level-Gulp, .skills-level-Git {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #618930;
    transition: width 1s 0.1s; }
  .skills:hover .skills-level-HTML {
    width: 90%; }
  .skills:hover .skills-level-responsive {
    width: 70%; }
  .skills:hover .skills-level-bootstrap {
    width: 60%; }
  .skills:hover .skills-level-jQuery {
    width: 60%; }
  .skills:hover .skills-level-CSS {
    width: 50%; }
  .skills:hover .skills-level-Gulp {
    width: 80%; }
  .skills:hover .skills-level-Git {
    width: 85%; }
  .skills-text {
    font-family: Raleway;
    line-height: 38px;
    color: #000;
    margin: 32px 0 0; }
  .skills-box {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: #f0f0f0; }

/* experience */
.experience {
  width: 100%;
  min-height: 740px;
  background: #f5f5f5;
  padding: 80px;
  display: flex;
  flex-direction: column; }
  .experience-box {
    margin: 80px 0 0;
    font-family: Raleway;
    font-style: italic;
    font-weight: normal;
    line-height: 38px; }
  .experience-span {
    font-family: Raleway;
    font-style: italic;
    line-height: 21px;
    font-size: 18px;
    color: #87C232; }

.experience a {
  color: #87C232;
  font-size: 18px;
  line-height: 21px; }

/* projects */
.projects {
  width: 100%;
  min-height: 740px;
  background: #222629;
  padding: 80px;
  display: flex;
  flex-direction: column;
  color: #f5f5f5; }
  .projects-title {
    color: #618930; }
  .projects-box {
    margin: 80px 0 0;
    font-family: Raleway;
    font-style: italic;
    font-weight: normal;
    line-height: 38px;
    color: #f5f5f5; }

.projects-box h3 {
  color: #fff;
  margin: 0 0 21px; }

.projects-box a {
  color: #87C232;
  font-size: 18px;
  line-height: 21px; }

/* footer */
.footer {
  width: 100%;
  background: #222629;
  padding: 80px 80px 0;
  display: flex;
  justify-content: space-between; }
  .footer-email {
    color: #87C232;
    font-family: Roboto;
    font-style: italic;
    font-size: 18px;
    line-height: 21px; }
  .footer-email a {
    font-family: Barlow Condensed;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    text-decoration: none; }
  .footer-tel {
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    color: #fff; }

/* menu */
.menu-open .nav {
  background: #618930;
  display: flex;
  flex-direction: column; }
  .menu-open .nav-email {
    font-family: Raleway;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin: 80px 0 0; }
  .menu-open .nav-email a {
    font-family: Barlow Condensed;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-decoration: none;
    color: #272822; }
  .menu-open .nav-tel {
    font-family: Raleway;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin: 80px 0 0; }
  .menu-open .nav-item-link:hover span {
    font-size: 32px;
    transition: all 0.5s;
    border-bottom: 2px solid; }
  .menu-open .nav-item-link:hover span:nth-child(2) {
    transition-delay: .1s; }
  .menu-open .nav-item-link:hover span:nth-child(3) {
    transition-delay: .2s; }
  .menu-open .nav-item-link:hover span:nth-child(4) {
    transition-delay: .3s; }
  .menu-open .nav-item-link:hover:hover span {
    font-size: 44px; }
  .menu-open .nav-item-link:hover:hover span:nth-child(4) {
    transition-delay: .3s; }
  .menu-open .nav-item-link:hover:hover span:nth-child(3) {
    transition-delay: .2s; }
  .menu-open .nav-item-link:hover:hover span:nth-child(2) {
    transition-delay: .1s; }
  .menu-open .nav-item-link:hover:hover span:nth-child(1) {
    transition-delay: 0s; }
  .menu-open .nav-item-link:hover.hover-shadow:hover {
    text-shadow: 1px 1px 0px #87C232, 2px 2px 0px #87C232; }

.menu-open .btn-burger .btn-burger-line {
  transform: rotate(45deg);
  position: absolute; }

.menu-open .btn-burger {
  position: absolute;
  left: 0;
  top: 50%; }

.menu-open .btn-burger .btn-burger-line:before {
  transform: rotate(90deg); }

.menu-open .btn-burger .btn-burger-line:after {
  display: none; }

.nav-item {
  margin: 0 0 32px; }
  .nav-item-link {
    font-family: Barlow Condensed;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #272822;
    text-decoration: none; }

.menu-open .menu {
  z-index: 20;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: calc(100vh - 160px);
  background: #618930;
  width: 100%;
  margin: 0 80px 0 0;
  padding: 80px; }

.menu-open .hero {
  padding: 80px 80px 80px 0; }

/* color switch */
.box_3 {
  background: #222629; }

.toggle_switch {
  width: 80px;
  height: 40px;
  position: relative; }

input[type="checkbox"].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1; }

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
  animation: resetRing .35s ease-in-out forwards; }

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring {
  -webkit-animation: animateRing .35s ease-in-out forwards;
  animation: animateRing .35s ease-in-out forwards; }

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg); }

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
  transform: translateX(-200%) rotate(180deg); }

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

svg.checkbox .is_checked {
  opacity: 0;
  fill: yellow;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
  transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s; }

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s; }

@-webkit-keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #b0aa28; } }

@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #b0aa28; } }

@-webkit-keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #87C232; } }

@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #87C232; } }
