@import 'var';
@import 'reset';

body {
	font-size: $text-size;
	background: $bg-color;
}
.wrapper {
	padding: $gap;
	min-height: 100vh;
}
h1 {
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	font-family: raleway;
}
header {
	height: $gap;
	position: fixed;
	background: $bg-color;
	top: 0;
	left: 0;
	padding: 16px 80px;
	display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.menu {
	position: fixed;
	left: 54px;
	top: 50%;
	transform: translateY(50%);
	z-index: 20;
}
.btn-burger {
	width: 56px;
	height: 31px;
	position: relative;
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
	&-line {
		width: 56px;
		height: 5px;
		background: $brand-color;
		display: block;
	}
	&-line:before, 
	&-line:after  {
		content: "";
		width: 56px;
		height: 5px;
		background: $brand-color;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	&-line:after {
		top: 26px;
	}
}
.hero {
	background: $primary-color;
	height: calc(100vh - 160px);
	margin: 0 0 $gap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	&:before {
		content: "";
		width: 50%;
		height: calc(100vh - 160px);
		background: $box-color;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}
	&-text {
		position: relative;
		z-index: 10;
	}
	.info {
		display: none;
		opacity: 0;
	}
	.welcome {
		font-size: 80px;
		line-height: 96px;
		font-family: Barlow Condensed;
	}
}
.links {
	width: $gap;
	position: fixed;
	right: -28px;
	top: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav {
	display: none;
}


.menu-open .nav {
	display: block;
}